{% extends "base/main.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align: center;"><strong>Change Password</strong></h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Old Password -->
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            <input type="password" class="form-control" id="old_password" name="old_password" required>
                        </div>

                        <!-- New Password -->
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>

                        <!-- Confirm New Password -->
                        <div class="form-group">
                            <label for="confirm_password">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>

                        <button type="submit" class="cstm-btn" style="width: 100%; border-radius: 5px;">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
    <div id="popup-message-container">
        {% for message in messages %}
            <div class="popup-message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
