{% extends 'base/main.html' %}
{% load static %}
{% block title %}Delete Quiz{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align: center;"><strong>Delete Quiz</strong></h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="quiz_id">Quiz ID</label>
                            <input type="text" class="form-control" id="quiz_id" name="quiz_id" value="{{ quiz.id }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="quiz_title">Quiz Title</label>
                            <input type="text" class="form-control" id="quiz_title" name="quiz_title" value="{{ quiz.quiz_title }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="quiz_no">Quiz No</label>
                            <input type="text" class="form-control" id="quiz_no" name="quiz_no" value="{{ quiz.quiz_no }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="due_date">Deadline</label>
                            <input type="datetime-local" class="form-control" id="due_date" name="due_date" value="{{ quiz.due_date }}" readonly>
                        </div>
                        <button type="submit" class="cstm-btn" style="background-color: #a11510; color: white; width: 100%; border-radius: 5px;"><i class="fa-solid fa-trash-can"></i> Delete Quiz</button>
                        <a href="{% url 'quizzes' quiz.course.id %}"><button type="button" class="cstm-btn" style="margin-top: 10px; background-color: #119247; color: white; width: 100%; border-radius: 5px;"><i class="fa-solid fa-xmark"></i> Cancel</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
    <div id="popup-message-container">
        {% for message in messages %}
            <div class="popup-message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}