{% extends 'base/main.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} Rank {% endblock %}
{% block content %}

<div class="quiz-main-container" style="height: 88vh;">
    <div id="quiz-container" class="quiz-main-container-box">
        <h3 class="quiz-title-2"><strong>Courses</strong></h3>
        <div class="table-responsive">
            <table id="course-table" style="vertical-align: middle; min-width: 100%;"
                class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="4%"><strong>Course ID</strong></th>
                    <th width="12%"><strong>Course Title</strong></th>
                    <th width="2%" style="text-align: center;"><strong>Action</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td class="m">{{course.course_no}}</td>
                    <td class="m">{{course.course_title}}</td>
                    <td class="m" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
                        <a href="{% url 'view_rank' course.id %}">
                            <button class="sub-label" style="padding: 0px; width: 100px; margin-top: 5px;">
                                <i class="fa fa-ranking-star"></i> View Rank
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
    <div id="popup-message-container">
        {% for message in messages %}
            <div class="popup-message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}